PROJECT_NAME="Nova Pay Fraud Service"
PORT=8002
ENVIRONMENT=development
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
CONSUMER_GROUP_ID=fraud-service-group
MONGODB_URL=mongodb://nova_user:nova_password@localhost:27017
MONGODB_DB_NAME=nova_fraud
